<section wmPartial data-role="partial" role="region"  name="header" type="header">
    <div wmLayoutGrid  name="headerlayout">
        <div wmLayoutGridRow  name="headerrow">
            <div wmLayoutGridColumn  name="headerleft" verticalalign="middle" columnwidth="7">
                <img wmPicture alt="image" wmImageCache="true"  picturesource="resources/images/logos/logo.png" name="AppLogo" marginleft="5">
                <label wmLabel  caption="WMPerfListProj" class="application-name" name="AppName" fontsize="20"></label>
            </div>
            <div wmLayoutGridColumn  name="headerright" horizontalalign="right" verticalalign="middle" columnwidth="5" paddingunit="em" paddingtop="1" paddingright="1">
                <div wmSearch  name="siteSearch" dataset="Home, Services, Products, About US, Contact" ngModel></div>
            </div>
        </div>
    </div>
</section>