<section wmPartial data-role="partial" role="region"  name="rightnav" type="rightnav">
    <ul wmNav data-element-type="wmNav" data-role="page-header"  name="rightnav" type="pills" layout="stacked">
        <li wmNavItem role="presentation"  name="list_task">
            <a wmAnchor role="link" data-identifier="anchor"  caption="Tasks" name="taskLink"></a>
        </li>
        <li wmNavItem role="presentation"  name="list_directory">
            <a wmAnchor role="link" data-identifier="anchor"  caption="Directory" name="directoryLink"></a>
        </li>
        <li wmNavItem role="presentation"  name="list_people">
            <a wmAnchor role="link" data-identifier="anchor"  caption="People" name="peopleLink"></a>
        </li>
    </ul>
</section>