<section wmPartial data-role="partial" role="region"  name="footer" type="footer">
    <div wmLayoutGrid  height="auto" name="footerlayout">
        <div wmLayoutGridRow  name="footerrow">
            <div wmLayoutGridColumn  columnwidth="6" name="footerleft" verticalalign="bottom">
            </div>
            <div wmLayoutGridColumn  columnwidth="6" horizontalalign="right" verticalalign="bottom" name="footerright">
                <label wmLabel  caption="Copyright 2018 [company name]" textalign="right" name="copyright"></label>
            </div>
        </div>
    </div>
</section>