<section wmPartial data-role="partial" role="region"  name="leftnav" type="leftnav">
    <ul wmNav data-element-type="wmNav" data-role="page-header"  name="leftnavigation" type="pills" layout="stacked">
        <li wmNavItem role="presentation"  name="list_dashboard">
            <a wmAnchor role="link" data-identifier="anchor"  caption="Dashboard" name="dashboardLink" iconclass="wi wi-bar-graph"></a>
        </li>
        <li wmNavItem role="presentation"  name="list_order">
            <a wmAnchor role="link" data-identifier="anchor"  caption="Pending Orders" name="orderLink" iconclass="wi wi-file"></a>
        </li>
        <li wmNavItem role="presentation"  name="list_inventory">
            <a wmAnchor role="link" data-identifier="anchor"  caption="Inventory" name="inventoryLink" iconclass="wi wi-tag"></a>
        </li>
        <li wmNavItem role="presentation"  name="list_support">
            <a wmAnchor role="link" data-identifier="anchor"  caption="Support Calls" name="supportLink" iconclass="wi wi-envelope"></a>
        </li>
    </ul>
</section>